
<div>
    <h2>socket.io</h2>
    <hr>
    <div>
         <input type="text" id="chatBox" name="chatBox">
    </div>
   <div>
    <ul id="messages">

    </ul>
   </div>
    

    </ul>
</div>




<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js
"></script>

<script src="socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>